.navbar{
	background-color: #000000;
}

.navbar-header{
	height: 220px;
}
.navbar-brand{
	/*background-image: url(https://dummyimage.com/220x220/000000/ffffff.png&text=HEADER);
	background-size: cover;
	background-repeat: no-repeat;*/
	font-size: 18pt;
	color: #ffffff;
	margin-top: 74px;

}

.navbar-right{
	color: #ffffff;
	margin-top: 85px;

	/*UmiAdded 20170510*/
	text-align: center;
}

.sidebar .list-group-item{
	border: 1px solid #eeeeee;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
}

.sidebar .list-group-item.active{
	border: 1px solid #eeeeee;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #000000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #000000;
}

/* Umi-updated @ 20170509*/
.arch-list img{
	display:block;
	border-radius: 5px;
	max-width: 100%;

}

.arch-list-item{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #888888;
}
.arch-list-item:first-child{
	padding-top: 0;
}

.arch-list-item .item-title{
	color:#444444;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1.5;
}

.arch-list-item .item-title:hover{
	color: #337ab7;
}

.arch-list-item .item-info{
	color:#999999; 
}

a:hover {
	text-decoration: none;
}


/*Umi Added 20170510*/
#ico{
	display: none;
	text-align: center;
}
.navitem{
	margin-top: 85px;
	color:#ffffff;
}

.navitem span{
	border-top: 3px solid #fffffe;
	border-bottom: 3px solid #fffffe;
	border-radius: 5px;
}