@font-face {
  font-family: 'Adobe Sans Light';
  src: url('../resources/fonts/SourceHanSans-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Local Kangxi Dict';
  src: url('../resources/fonts/CHN-KXD.otf') format('truetype');
}

@font-face {
  font-family: 'Local FZ Song';
  src: url('../resources/fonts/CHN-FZSongKBXKSRGB.otf') format('truetype');
}

@font-face {
  font-family: 'Hanyi Quantangshi Fan';
  src: url('../resources/fonts/CHT-HYQTS.ttf') format('truetype');
}

@font-face {
  font-family: 'Canela';
  src: url('../resources/fonts/canela_light.otf') format('truetype');
}

@font-face {
  font-family: 'SourceHanSerifJP-ExtraLight';
  src: url('../resources/fonts/SourceHanSerifJP-ExtraLight.otf') format('truetype');
}




#brand {
	font-family:"Local FZ Song","Bitstream Vera Sans Mono";
	font-weight: bolder;
}
.anchor {
	font-family:"Local FZ Song","Bitstream Vera Sans Mono";
	font-weight: bolder;
	color:#000000;
}

.cht-hanyi{
	font-family:"Hanyi Quantangshi Fan","Bitstream Vera Sans Mono";
	font-weight: bold;
	color:#000000;
}

.content3{
	font-family:"Local FZ Song","Bitstream Vera Sans Mono";
	font-weight: light;
	color:#000000;
}
.content2{
	font-family:"Adobe Sans Light","Bitstream Vera Sans Mono";
	font-weight: light;
	color:#000000;
}
.content1{
	font-family:"Local FZ Song","Bitstream Vera Sans Mono";
	font-weight: bold;
	color:#000000;
}

.content4{
	font-family:"Local FZ Song","Bitstream Vera Sans Mono";
	font-weight: light;
	color:#FFFFFF;
}
.content5{
	font-family:"Canela";
	letter-spacing: 2px;
	font-weight: lighter;
	color:#000000;
}

.content6{
	font-family:"SourceHanSerifJP-ExtraLight";
	letter-spacing: 2px;
	font-weight: lighter;
	color:#000000;
}
