.navbar{
	background-color: #000000;
}

.navbar-header{
}
.navbar-brand{
	background-image: url(../resources/UP-W.png);
	background-size: cover;
	background-repeat: no-repeat;
	width:150px;
	font-size: 18pt;
	color: #ffffff;

}

.navbar-right{
	color: #ffffff;
	/*UmiAdded 20170511*/
	text-align: right;
	margin-top: 10px;
}

.sidebar .list-group-item{
	border: 1px solid #eeeeee;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
}

.sidebar .list-group-item.active{
	border: 1px solid #eeeeee;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #000000;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #000000;
	color: #ffffff;
	text-align: center;

}

/* Umi-updated @ 20170509*/
.arch-list img{
	display:block;
	border-radius: 5px;
	max-width: 100%;

}

.arch-list-item{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #888888;
}
.arch-list-item:first-child{
	padding-top: 0;
}

.arch-list-item .item-title{
	color:#444444;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1.5;
}

.arch-list-item .item-title:hover{
	color: #337ab7;
}

.arch-list-item .item-info{
	color:#999999; 
}

a:hover {
	text-decoration: none;
}


/*Umi Added 20170510*/
#ico{
	display: none;
	text-align: center;
}
.navitem{
	margin-top: 85px;
	color:#ffffff;
}

.navitem span{
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	border-radius: 5px;
}

/*Umi Added 20170511*/
.list-group-item{
	border:0;
}

body{
	font-family:"Local FZ Song","Bitstream Vera Sans Mono";
	font-weight: light;
	color:#000000;
}
