.header{
	text-align: center;
	margin: auto;
	height: 60px;
	display:block;
	width: 100%;
	background: #FFFFFF;
	margin:auto;
	text-align:center;
	vertical-align:center;
	align-content: center;
}
.logo{
	background-image: url(../resources/UP-R.png);
	background-size: cover;
	background-repeat: no-repeat;
	width:70px;
	height: 50px;
	font-size: 18pt;
	color: #ffffff;
	
	margin:auto;
	text-align:center;
	align-content: center;
	margin-top: 30px;
}

#subtitle{
	margin-top:6px;
	color: #000000;
	font-size:5.5pt;
	height:14px;

	font-family:"Helvetica";
	font-weight: lighter;
}



a:hover {
	text-decoration: none;
}


/*Umi added 20170606*/

img{
	width: 100%;
	height:100%;
	display: none;

}

#holder{
	display: inline-block;
	vertical-align: middle;
	
	/*margin:auto;
	text-align:center;
	vertical-align:center;
	align-content: center;*/

	
	border:1px solid #000000;
	padding: 10px;
	background-color: #FFFFFF;
}

#frame{
	border:5px solid #000000;
	/*padding-top: 30px;
	padding-bottom: 30px;*/
	display: none;
	background-color: #F7F7F4;

	margin:auto;
	text-align:center;
	vertical-align:center;
	align-content: center;


}

#f{
	border:3px;
	border-radius: 15px;
	background-color: #999999;
}
.head{
	padding: 0;
}
.result{
	border:2px solid #999999;
	padding: 15px;
}

.opt{
	color: #FF0000;
}

table{
	margin:auto;
	text-align:center;
	vertical-align:center;
	align-content: center;
}

td{
	padding:10px;
}
.modal{
	color: #4A4A4A;

}
input{
	color: #000000;
}

.canv{
	margin:auto;
	text-align:center;
	vertical-align:center;
	align-content: center;
}
.btn1{
	border-radius: 5px;
	border: 0;
}
.btn-primary{
	border: 0;
	border-radius: 5px;
}

#styledialog .btn{
	height: 30px;
	border-radius: 5px;
	background-color: #EEEEEE;
}
#styledialog .btn:hover{
	background-color: #FFFFFF;
}

#result_table{
	margin:auto;
	text-align:center;
	vertical-align:center;
	align-content: center;

	/*display: none;*/
}


#result_table td{
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
}

.btn{
	border-radius: 15px;
}

#cvsframe,#cvsframe_m{
	display: block;
	
	margin:auto;
	text-align:center;
	vertical-align:center;
	align-content: center;
}

#cvsotw{
	display: block;
	
	margin:auto;
	text-align:center;
	vertical-align:center;
	align-content:center;
}

/* Umi Added 20170629*/
.filled{
	margin:2.5px;
	min-height:450px;
	border-radius: 3px;
}

#otwgroup{
	max-height: 450px;
}

.col-md-3{
	padding:2.5px;

}

.col-md-6{
	padding: 2.5px;	
}

#_btng1{
	margin-top:10px;
}

#mode{
	background-color: #d9d9d9;
	border: 1px solid #d9d9d9;
}

#upload{
	background-color: #c7c7c7;
	border: 1px solid #c7c7c7;
}

#sizebase{
	background-color: #b8b8b8;
	border: 1px solid #b8b8b8;
}

#matbase{
	background-color: #ababab;
	border: 1px solid #ababab;
}

#framebase{
	background-color: #a1a1a1;
	border: 1px solid #a1a1a1;
}

#btnpreview{
	background-color: #999999;
	border: 1px solid #999999;
}
.btnc{
	margin:2px;
	border-radius: 30px;
	height: 30px;
	width: 30px;
	
}
.btnc:hover{
	background-color:#FFFFFF;
}

#result_table_holder_mobile{
	padding: 40px;
	display: none;
}
#result_table_holder_desktop{
	padding: 40px;
	display: none;
}

#borderwidth{
	max-width:20px;
	border:0px;
}

#result_table_mobile{
	margin-top:30px;
}

