<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>無措</title>
    <meta name="viewport" content="width=device-width">

    
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/archive20170730_mobile.css">
    <link rel="stylesheet" href="../stylesheets/fonts.css">


	<script src="../javascripts/jquery221.js"></script>
  </head>
<body style="height:550px;" class="content5" >

<div class="nav navbar-default" >
	<table class="header" style="width:100%;">
		<tr>
			<td class="left">
				<div class="nav-home" name="androidline-head" onclick="location.href='../index.html'"></div>
			</td>
			<td class="center">
				<img src="../resources/UP-BW.png" style="width:50px;" >
			</td>
			<td class="right">
				<!-- <img src="./resources/headermenubtn.png" alt="" style="width:120%;" onclick="menutoggle('menu')"> -->
				<div onclick="menurowtoggle('menurow');">
					<table id="toprightmenubtn">
						<tr>
							<td><div class="toprightmenubtnptr" name="androidline-head"></div></td>
							<td><div class="toprightmenubtnptr" name="androidline-head"></div></td>
						</tr>
						<tr>
							<td><div class="toprightmenubtnptr" name="androidline-head"></div></td>
							<td><div class="toprightmenubtnptr" name="androidline-head"></div></td>
						</tr>	
					</table>
				</div>
			</td>
		</tr>


		<tr>
			<td colspan="1">
				<div class="category-menu" id="category-menu-btn" onclick="categorytoggle('arch-menu');">
					<div class="menu-icon-line"></div>
					<div class="menu-icon-line"></div>
					<div class="menu-icon-line"></div>
					<div class="menu-icon-line"></div>
				</div>
			</td>
			<td colspan="2"><p class="header-subtitle">ABOUT GRAPHIC ART AND A LOT OF THINGS</p></td>
		</tr>


		<tr class="menurow" id="menurow">
			<td class="menud" colspan="3">
				<div>
					<p class="menuitem">| <a href="./Pages/pageGallery.html">展廳</a> | <a href="">文献</a> | <a href="./Pages/pageTools.html">工具</a> | <a>設備</a> | <a>聯係方式</a> |</p>
				</div>
			</td>
		</tr>
		

	</table>
</div>

<!-- 
<div id="menu">
	<p class="menuitem">| <a href="./Pages/pageGallery.html">展廳</a> | <a href="">文献</a> | <a href="./Pages/pageTools.html">工具</a> | <a>設備</a> | <a>聯係方式</a> |</p>
</div>
-->

<div class="container" id="root">
	<div class="row">
		<div class="col-md-2" id="arch-menu">
			<p @click="changecheckflag('classic');" onclick="autocateenpack('arch-menu');">Classic</p>
			<p @click="changecheckflag('silver');" onclick="autocateenpack('arch-menu');">Silver</p>
			<p @click="changecheckflag('digital');" onclick="autocateenpack('arch-menu');">Modern Digital</p>
			<p @click="changecheckflag('storage');" onclick="autocateenpack('arch-menu');">Storage</p>
			<p @click="changecheckflag('exhibition');" onclick="autocateenpack('arch-menu');">Exhibition</p>
			<p @click="changecheckflag('others');" onclick="autocateenpack('arch-menu');">Others</p>
		</div>

		<div class="col-md-10">
			<table id="archs">

				
				<tr v-for="items in archfiles" v-if="items.group==checkflag" class="category-row">
					<td >
						<table class="arch" :href=items.links v-on:click="navito($event)" >
							<tr>
								<td class="arch-l">
									<div class="arch-pics" >
									<img src="" alt="Classic">
									</div>
								</td>
								<td class="arch-r">
									<div class="arch-title">
										<a>{{items.title}}</a>
									</div>
									<div class="arch-subtitle">
										<a>{{items.subtitle}}</a>
									</div>
								</td>
							</tr>
						</table>

					</td>
				</tr>

			</table>

		</div>
	</div>
</div>


<script src="../javascripts/vue.js"></script>
<script src="../javascripts/switch.js"></script>
<script src="../javascripts/archive_mobile.js"></script>
<script src="../javascripts/archive_data.js"></script>
<script type="text/javascript">
	m2d("archive");
	androidthinlineadjust();

	
</script>  
</body>
</html>
